[buildout]
extensions = mr.developer
unzip = true
parts =
    var
    karl

index = http://index.karlproject.org/pyramid/production/index/
find-links =
    http://karlhosting.github.com/pyramid/staging/

# override any eggs-directory or download-cache settings
# that might be in ~/.buildout/default.cfg. We have to do this because
# we're pinning versions using a custom package index instead of
# using versions.cfg.
eggs-directory = ${buildout:directory}/eggs
download-cache =

customization-packages =
    ariadne
    osi
    oxfam

[var]
recipe = z3c.recipe.mkdir
paths =
    var/chameleon_cache
    var/log

[sources]
karl = git git@github.com:karlproject/karl.git
karlserve = git git@github.com:karlproject/karlserve.git
osi = git git@github.com:karlhosting/osi.git
eurasia = git git@github.com:karlhosting/eurasia.git
ospc = git git@github.com:karlhosting/ospc.git
oxfam = git git@github.com:karlhosting/oxfam.git
ariadne = git git@github.com:karlhosting/ariadne.git
relstorage = git git@github.com:zodb/relstorage.git
repoze.pgtextindex = svn svn+ssh://repoze@svn.repoze.org/svn/repoze.pgtextindex/trunk
repoze.postoffice = git git@github.com:repoze/repoze.postoffice.git
repoze.sendmail = git git@github.com:repoze/repoze.sendmail.git
repoze.urchin = svn svn+ssh://repoze@svn.repoze.org/svn/repoze.urchin/trunk
repozitory = git git@github.com:Pylons/repozitory.git
karl.external_link_ticket = git git@github.com:karlproject/karl.external_link_ticket.git
pyramid_bottlecap = git git@github.com:pauleveritt/pyramid_bottlecap.git
pyramid_formish = git git@github.com:Pylons/pyramid_formish.git
chameleon = git git@github.com:chrisrossi/chameleon.git
appendonly = svn svn+ssh://svn.zope.org/repos/main/appendonly/trunk
admin5 = git git@github.com:karlproject/admin5.git

[karl]
recipe = zc.recipe.egg
unzip = true
dependent-scripts = true
eggs =
    karl [tests]
    ${buildout:customization-packages}
    repoze.debug
    repoze.profile
    supervisor
    superlance
    karlserve
    guillotine
    RelStorage
    repoze.pgtextindex
    repoze.postoffice
    repozitory
    pyramid_debugtoolbar
    slowlog
    waitress
dependent-scripts = true
scripts =
    supervisord = supervisord
    supervisorctl = supervisorctl
    karlserve = karlserve
    memmon = memmon
    nosetests = nosetests
    paster = paster
    juice_all = juice_all
    test_phantom_qunit = test_phantom_qunit
    postoffice = postoffice
    po_debug = po_debug

interpreter = py
