[buildout]
extensions = mr.developer
unzip = true
parts =
    var
    karl
    omelette

index = http://karlhosting.github.com/pyramid/production/index/
find-links =
    http://karlhosting.github.com/pyramid/staging/

# override any eggs-directory or download-cache settings
# that might be in ~/.buildout/default.cfg. We have to do this because
# we're pinning versions using a custom package index instead of
# using versions.cfg.
eggs-directory = ${buildout:directory}/eggs
download-cache =

customization-packages =
    ariadne
    eurasia
    osi
    ospc
    oxfam

[var]
recipe = z3c.recipe.mkdir
paths =
    var/log

[sources]
karl = git git@github.com:karlproject/karl.git
karlserve = git git@github.com:karlproject/karlserve.git
osi = git git@github.com:karlhosting/osi.git
eurasia = git git@github.com:karlhosting/eurasia.git
ospc = git git@github.com:karlhosting/ospc.git
oxfam = git git@github.com:karlhosting/oxfam.git
ariadne = git git@github.com:karlhosting/ariadne.git
relstorage = svn svn://svn.zope.org/repos/main/relstorage/trunk
repoze.pgtextindex = svn svn+ssh://repoze@svn.repoze.org/svn/repoze.pgtextindex/trunk
repoze.postoffice = svn svn+ssh://repoze@svn.repoze.org/svn/repoze.postoffice/trunk
repoze.sendmail = git git@github.com:repoze/repoze.sendmail.git
repoze.urchin = svn svn+ssh://repoze@svn.repoze.org/svn/repoze.urchin/trunk
repozitory = git git@github.com:Pylons/repozitory.git
karl.external_link_ticket = git git@github.com:karlproject/karl.external_link_ticket.git
pyramid_bottlecap = git git@github.com:pauleveritt/pyramid_bottlecap.git
pyramid_formish = git git@github.com:Pylons/pyramid_formish.git
chameleon = git git@github.com:chrisrossi/chameleon.git

[karl]
recipe = zc.recipe.egg
unzip = true
dependent-scripts = true
eggs =
    karl
    ${buildout:customization-packages}
    repoze.debug
    supervisor
    karlserve
    nose
    coverage
    mock
    guillotine
    RelStorage
    repoze.pgtextindex
    repoze.postoffice
    repozitory

dependent-scripts = true
scripts =
    supervisord = supervisord
    supervisorctl = supervisorctl
    karlserve = karlserve
    nosetests = nosetests
    paster = paster
    juice_all = juice_all
    postoffice = postoffice
    po_debug = po_debug

interpreter = py

[omelette]
# This recipe eases development with PyDev (and probably other IDEs.)
recipe = collective.recipe.omelette
eggs =
    karl
    karlserve
    RelStorage
    repoze.pgtextindex
    repozitory
ignores = setuptools
